<div class="list-item">
	<div class="data-wrapper">
		<!-- img -->
		<div class="img">
			<a href=/car/1164/Renault-Zoe-ZE50-R110><img src="/img/common/ajax-loader.gif"
					data-src-retina="/img/auto/Renault_Zoe_2020/Renault_Zoe_2020-01-thumb@2x.jpg"
					data-src="/img/auto/Renault_Zoe_2020/Renault_Zoe_2020-01-thumb.jpg"
					data-src="/img/auto/Renault_Zoe_2020/Renault_Zoe_2020-01-thumb.jpg"
					data-src="/img/auto/Renault_Zoe_2020/Renault_Zoe_2020-01-thumb.jpg"
					alt="Renault Zoe ZE50 R110" /></a>
		</div>

		<!-- item-data -->
		<div class="title-wrap">
			<h2><a href="/car/1164/Renault-Zoe-ZE50-R110" class="title"><span class="renault">Renault</span> <span
						class="model">Zoe ZE50 R110</span></a></h2>
			<span class="date_from hidden">1572562800</span><span class="rank hidden">927</span><span
				class="id hidden">1164</span><span class="current"></span>
			<div class="subtitle">
				Battery Electric Vehicle |
				<span class="battery">52</span> kWh
			</div>

		</div>

		<div class="icons">
			<span title="Towbar not possible" class="towweight fas fa-trailer" style="color: lightgrey;"></span><span
				title="Front Wheel Drive"><span class="voor fas fa-circle"
					style="padding-left: 10px; margin-right: -3px;"></span>
				<span class="voor far fa-circle"></span></span><span title="plug-type2-ccs"
				class="plug-type2-ccs hidden">Type 2 CCS</span><span
				class="shape-hatchback hidden">Hatchback</span><span title="Market Segment" class="size-b"
				style="padding-left: 10px;">B</span><span title="Number of seats" class="seats-5 fas fa-user"
				style="padding-left: 10px;"></span><span title="Number of seats">5</span>
		</div>

		<div class="specs">
			<p class="left">
				<span class="tag">0 - 100</span>
				<span class="acceleration">11.4 sec</span>
			</p>

			<p class="left">
				<span class="tag">Top Speed</span>
				<span class="topspeed">135 km/h</span>
			</p>

			<p class="left">
				<span class="tag">Range</span>
				<span class="erange_real">315 km</span>
			</p>

			<p class="left">
				<span class="tag">Efficiency</span>
				<span class="efficiency">165 Wh/km</span>
			</p>

			<p class="left">
				<span class="tag">Fastcharge</span>
				<span class="fastcharge_speed_print">230 km/h</span>
				<span class="fastcharge_speed hidden">230</span>
			</p>
		</div>

		<div class="pricing align-right">
			<span class="price_buy">
				<span class="country_de" title="Price in Germany before incentives">€36,840</span>
				<span class="flag-icon flag-icon-de"></span>
			</span>

			<span class="price_buy">
				<span class="country_nl" title="Price in The Netherlands before incentives">€34,790</span>
				<span class="flag-icon flag-icon-nl"></span>
			</span>
			<span class="price_buy">
				<span class="country_uk" title="Price in the United Kingdom after incentives">N/A</span>
				<span class="flag-icon flag-icon-gb"></span>
			</span>

			<span class="price price_filter40-60 hidden">0.68</span>
		</div>
	</div>
</div>