* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
}

:root {
  --clr-separators: #EEE;
  --clr-primary-light: #B0B0B0;
  --clr-primary-dark: #141A33;
  /* --clr-accent: #DD2D38; */
  --clr-accent: #2d7fdd;
}

#root {
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
}

:focus {
  outline: 1px solid var(--clr-accent);
}

a {
  color: var(--clr-primary-dark);
}

a:hover {
  color: var(--clr-accent);
}

/* 
=================================================
===================Header Section================
=================================================
*/
.main-nav {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  margin-left: 25%;
}

.main-nav-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-right: 1px solid var(--clr-separators);
}

.main-nav-group.account {
  grid-template-columns: 3fr 4fr;
}

.logo,
.main-nav-group .main-nav-link {
  min-height: 100px;
}

.main-nav-group .main-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  outline: 1px solid var(--clr-separators);
}

.logo {
  border-right: none;
  display: flex;
  justify-content: space-around;
}

.brand-wrapper {
  /* width: min-content; */
  text-align: center;
}

.sub-nav {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 80px;
  border-bottom: 1px solid var(--clr-separators);
}

.sub-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--clr-separators);
}


/* ==============================================================
   ======================= Sidebar ==============================
   ==============================================================*/



.sidebar {
  width: 25%;
  position: absolute;
  left: 0;
  min-height: 100vh;
  border-right: 1px solid var(--clr-separators);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.sidebar-inner-wrapper{
  padding: 2em;
}
.location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--clr-separators);
  gap: .5em;
  min-height: 80px;
  border-bottom: 1px solid var(--clr-separators);
}

.main-nav-link.logo {
  max-height: 100px;
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.main-nav-link.logo img {
  width: 30%;
  margin-right: 1em;
}

.main-nav-link.logo div {
  text-align: center;
  width: 100%;
}

.main-content {
  margin-left: 25%;
  padding: 2em 1em;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.search-bar {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.search {
  min-width: 65%;
  font-size: 1rem;
  padding: .5rem .8rem;
  padding-left: 2.5em;
  border-radius: 0;
  border: 1px solid var(--clr-separators);
  background-image: url("./images/search-line.svg");
  background-repeat: no-repeat;
  background-position: center left .5em;
}

.select-order {
  background: transparent;
  border: 1px solid var(--clr-separators);
  min-width: 30%;
  text-align: center;
}
.select-order option{
  
  background: white;
  border-radius: 0;
  padding: .5em .8em;
}
.vehicles-list{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
}
.vehicle{
  border: 1px solid var(--clr-separators);
  margin-bottom: 2em;
  max-width: 40%;
  min-width: 300px;
  position: relative;
}
.vehicle img{
  object-fit: cover;
  width:100%;
}
.vehicle__info{
  padding: 0 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  align-items: center;
  
}
.vehicle__brand{
  display: inline-block;
  font-size: 1rem;
  color: var(--clr-primary-light);
  grid-column: 1/ span 2;
}
.vehicle__name{
  grid-column: 1/-1;
  grid-row: 2;
}
.vehicle__price-label{
  color: var(--clr-primary-light);
  grid-row: 3;
  grid-column: 1;
}
.vehicle__price{
  font-weight: 600;
  display: inline-block;
  grid-row: 3;
  grid-column: 2;
  margin-right: 1rem;
}
.vehicle__old-price{
  color: var(--clr-primary-light);
  font-size: .8em;
  font-weight: 600;
  text-decoration: line-through;
  display: inline-block;
  grid-row: 3;
}
.btn-like,.btn-add-to-cart{
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.btn-like{
  position: absolute;
  top: 1em;
  right: 1em;
  background: rgba(256, 256, 256, .7);
  border: 1px solid var(--clr-separators);
  transition: border 250ms ease, background-color 250ms ease;

}
.btn-like:hover,.btn-like:focus{
  background-color: white;
}
.btn-like:focus{
  outline: 2px solid var(--clr-accent);
  border: none;
}
.btn-add-to-cart{
  background-color: var(--clr-accent);
  grid-row: 3;
  grid-column: -2/-1;
  justify-self: end;
}
.btn-add-to-cart img,.btn-like img{
  width: 50%;
}

/* 
==================================================================
======================= custom price selector ====================
================================================================== */



::selection{
  color: #fff;
  background: var(--clr-accent);
}
.wrapper{
}
header h2{
  font-size: 24px;
  font-weight: 600;
}
header p{
  margin-top: 5px;
  font-size: 16px;
}
.price-input{
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field{
  display: flex;
  width: 100%;
  /* height: 45px; */
  align-items: center;
}
.field input{
  padding: .5em 1em;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1rem;
  margin-left: 12px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  /* border: 1px solid var(--clr-separators); */
  border: none;
  background-color: var(--clr-separators);
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator{
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 4px;
  position: relative;
  background: var(--clr-primary-light);
  border-radius: 5px;
}
.slider .progress{
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: var(--clr-accent)
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 4px;
  top: -4px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: var(--clr-accent);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: var(--clr-accent);
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
/*
==========================================================================================
==============================Custom Checkboxes============================================
========================================================================================== 
 */

  /* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 